<p id="notice"><%= notice %></p>

<h1>Lugares asignados a Maestros</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Maestro</th>
      <th>Lugar</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @teacher_places.each do |teacher_place| %>
      <tr>
        <td><%= teacher_place.teacher.Name %></td>
        <td><%= teacher_place.place.Name %></td>

        <td style="text-align:center;"><%= link_to teacher_place, style: 'color:#0056b3;' do%> <span class="oi oi-eye"></span> <%end%></td>
        <td style="text-align:center;"><%= link_to edit_teacher_place_path(teacher_place), style: 'color:#0056b3;' do%> <span class="oi oi-pencil"></span> <%end%></td>
        <td style="text-align:center;"><%= link_to teacher_place, method: :delete, data: { confirm: 'Estas seguro?' }, style: 'color:#0056b3;' do%> <span class="oi oi-trash"></span> <%end%></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Asignar lugar a un Maestro', new_teacher_place_path, class:'btn btn-outline-info' %>
