<p id="notice"><%= notice %></p>

<p>
  <strong>Cuenta_Maestro:</strong>
  <%= @teacher_subject.TeacherAccount %>
</p>

<p>
  <strong>Id_Materia:</strong>
  <%= @teacher_subject.IdSubject %>
</p>

<%= link_to 'Editar', edit_teacher_subject_path(@teacher_subject) %> |
<%= link_to 'Volver', teacher_subjects_path %>
