<%= form_with(model: tutorial_date, local: true) do |form| %>
  <% if tutorial_date.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tutorial_date.errors.count, "error") %> prohibited this tutorial_date from being saved:</h2>

      <ul>
      <% tutorial_date.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-1">
      <%= form.label :Matricula %>
    </div>
    <div class="col-sm-3">
      <%= form.text_field :StudentRegister, class:"form-control" %>
    </div>
  </div>

  <div class="row" style="margin-top:5px;">
    <div class="col-sm-1">
      <%= form.label :Id_Horario %>
    </div>
    <div class="col-sm-3">
      <%= form.text_field :IdShedule, class:"form-control" %>
    </div>
  </div>

  <div class="row" style="margin-top:5px;">
    <div class="col-sm-1">
      <%= form.label :Fecha %>
    </div>
    <div class="col-sm-3">
      <%= form.text_field :Date, class:"form-control" %>
    </div>
  </div>

  <div class="row" style="margin-top:5px;">
    <div class="col-sm-1">
      <%= form.label :Temas %>
    </div>
    <div class="col-sm-11">
      <%= form.text_area :Topic, class:"form-control" %>
    </div>
  </div>

  <div class="row" style="margin-top:10px;">
    <div class="col-sm-12">
      <%= form.submit "Programar Asesoria", :class => "btn btn-outline-success", style:'width:200px;' %>
    </div>
  </div>
<% end %>
