<!DOCTYPE html>
<html>
  <head>
    <title>Asesor&iacute;as FCQ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'open-iconic-master/font/css/open-iconic-bootstrap.css', media: 'all'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="overflow:hidden;">
    <div class="row" style="padding: 10px 10px 10px 10px;">
      <div class="col-sm-12">
        <div class="card card-body bg-light">
          <p>
            <strong>Materia:</strong>
            <%= @subject.Name %>
          </p>

          <p>
            <strong>Maestro:</strong>
            <%= @teacher.Name + " " + @teacher.LastName + " " + @teacher.SecondLastName %>
          </p>

          <p>
            <strong>Alumno:</strong>
            <%if @student != nil%>
              <%= @tutorial_date.StudentRegister.to_s + " - " + @student.Name + " " + @student.LastName + " " + @student.SecondLastName%>
            <%else%>
              <%= @tutorial_date.StudentRegister %> - Alumno no encontrado...
            <%end%>
          </p>

          <p>
            <strong>Fecha:</strong>
            <%= @tutorial_date.Date %>
          </p>

          <p>
            <strong>Horario:</strong>
            <%= @schedule.BeginHour.strftime('%H:%M') + " - " +  @schedule.EndHour.strftime('%H:%M')%>
          </p>

          <p>
            <strong>Temas:</strong>
            <%= @tutorial_date.Topic %>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>