<p id="notice"><%= notice %></p>

<h1>Alumnos</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Matr&iacute;cula</th>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Celular</th>
      <th>Es Asesor</th>
      <th>Maestro Asesor Asignado</th>
      <th colspan="3" style="text-align:center;">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.Register %></td>
        <td><%= student.Name %></td>
        <td><%= student.LastName %> <%= student.SecondLastName %></td>
        <td><%= student.Cellphone %></td>
        <td><%= if student.IsAssessor then 'Sí' else 'No' end %></td>
        <td><%= student.TeacherAssessor %></td>
        <td style="text-align:center;"><%= link_to student, style: 'color:#0056b3;' do%> <span class="oi oi-eye"></span> <%end%></td>
        <td style="text-align:center;"><%= link_to edit_student_path(student), style: 'color:#0056b3;' do%> <span class="oi oi-pencil"></span> <%end%></td>
        <td style="text-align:center;"><%= link_to student, method: :delete, data: { confirm: 'Estas seguro?' }, style: 'color:#0056b3;' do%> <span class="oi oi-trash"></span> <%end%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear Alumno Nuevo', new_student_path, class:'btn btn-outline-info'  %>


