<p id="notice"><%= notice %></p>

<h1>Usuarios</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Celular</th>
      <th>Correo Electr&oacute;nico</th>
      <th>Perfil</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.UserAccount %></td>
        <td><%= user.Name %></td>
        <td><%= user.LastName %> <%= user.SecondLastName %></td>
        <td><%= user.Cellphone %></td>
        <td><%= user.Email %></td>
        <td><%= user.IdProfile %></td>
        <td align="center"><%= link_to 'Ver', user %></td>
        <td align="center"><%= link_to 'Editar', edit_user_path(user) %></td>
        <td align="center"><%= link_to 'Eliminar', user, method: :delete, data: { confirm: 'Estas Seguro(a)?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear Usuario Nuevo', new_user_path, class:'btn btn-outline-info' %>
