<p id="notice"><%= notice %></p>

<h1>Horarios</h1>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Id_Materia</th>
      <th>Cuenta_Maestro</th>
      <th>Id_Lugar</th>
      <th>D&iacute;a</th>
      <th>Hora_Inicio</th>
      <th>Hora_Fin</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.IdSubject %></td>
        <td><%= schedule.TeacherAccount %></td>
        <td><%= schedule.IdPlace %></td>
        <td><%= schedule.Day %></td>
        <td><%= schedule.BeginHour %></td>
        <td><%= schedule.EndHour %></td>
        <td style="text-align:center;"><%= link_to 'Ver', schedule %></td>
        <td style="text-align:center;"><%= link_to 'Editar', edit_schedule_path(schedule) %></td>
        <td style="text-align:center;"><%= link_to 'Eliminar', schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
         
     </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear Horario Nuevo', new_schedule_path, class:'btn btn-outline-info'  %>

