<p id="notice"><%= notice %></p>

<p>
  <strong>Materia:</strong>
  <%= @subject.Name %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @subject.Type %>
</p>

<%= link_to 'Editar', edit_subject_path(@subject) %> |
<%= link_to 'Volver', subjects_path %>
