<p id="notice"><%= notice %></p>

<h1>Maestros</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Usuario UACH</th>
      <th>N&uacute;mero de Empleado</th>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Celular</th>
      <th>Correo Electr&oacute;nico</th>
      <th>Es Administrador</th>
      <th colspan="3" style="text-align:center;">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.TeacherUser %></td>
        <td><%= teacher.EmployeeNumber %></td>
        <td><%= teacher.Name %></td>
        <td><%= teacher.LastName %> <%= teacher.SecondLastName %></td>
     
        <td><%= teacher.Cellphone %></td>
        <td><%= teacher.Email %></td>
        <td><%= if teacher.IsAdmin then 'Si' else 'No' end %></td>
        <td style="text-align:center;"><%= link_to 'Ver', teacher %></td>
        <td style="text-align:center;"><%= link_to 'Editar', edit_teacher_path(teacher) %></td>
        <td style="text-align:center;"><%= link_to 'Eliminar', teacher, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear Maestro nuevo', new_teacher_path, class:'btn btn-outline-info' %>
