<p id="notice"><%= notice %></p>

<h1>Maestros</h1>

<table class="table table-striped table-bordered  " >
  <thead>
    <tr>
      <th>Usuario UACH</th>
      <th>N&uacute;mero de Empleado</th>
      <th>Nombre(s)</th>
      <th>Apellidos</th>
      <th>Celular</th>
      <th>Correo Electr&oacute;nico</th>
      <th>Es Administrador</th>
      <th colspan="3" style="text-align:center;">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.TeacherUser %></td>
        <td><%= teacher.EmployeeNumber %></td>
        <td><%= teacher.Name %></td>
        <td><%= teacher.LastName %> <%= teacher.SecondLastName %></td>
     
        <td><%= teacher.Cellphone %></td>
        <td><%= teacher.Email %></td>
        <td><%= if teacher.IsAdmin then 'Si' else 'No' end %></td>
        <td style="text-align:center;"><%= link_to teacher, style: 'color:#0056b3;' do%> <span class="oi oi-eye"></span> <%end%></td>
        <td style="text-align:center;"><%= link_to edit_teacher_path(teacher), style: 'color:#0056b3;' do%> <span class="oi oi-pencil"></span></span> <%end%></td>
        <td style="text-align:center;"><%= link_to teacher, method: :delete, data: { confirm: 'Estas seguro?' }, style: 'color:#0056b3;' do%> <span class="oi oi-trash"></span> <%end%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear Maestro nuevo', new_teacher_path, class:'btn btn-outline-info' %>
