<!DOCTYPE html>
<html>
  <head>
    <title>Asesor&iacute;as FCQ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'open-iconic-master/font/css/open-iconic-bootstrap.css', media: 'all'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper fadeInDown">
      <% flash.each do |key, value| %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong><%= value %></strong> Por favor verifique sus credenciales e intentelo de nuevo
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
      <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
          <%= image_tag "fcqLogo2.png", :id=>"icon", :alt=>"FCQ Icon" %>
        </div>

        <!-- Login Form 
      
        <form>
          <input type="text" id="txtLogin" class="fadeIn second" name="login" placeholder="Usuario">
          <input type="password" id="txtPassword" class="fadeIn third" name="pass" placeholder="Password">
          <a id="btnLogin" href="/home/index" class="fadeIn fourth" style="width:85%">Ingresar</a>
        </form>
        -->

        <%= form_with model: @user do |f| %>
          <%= f.text_field :txtLogin, class: "fadeIn second", placeholder:"Usuario" %>
          <%= f.text_field :txtPassword,  class: :fadeIn, placeholder:"Password", type:"password" %>
          <%= f.submit 'Ingresar', class: 'fadeIn fourth', id:'btnLogin' %>
        <% end %>

        <!-- Remind Passowrd -->
        <div id="formFooter">
          <a class="underlineHover" href="#">Sistema De Tutorias FCQ</a>
        </div>

      </div>
    </div>
  </body>
</html>
