<!DOCTYPE html>
<html>
  <head>
    <title>Asesor&iacute;as FCQ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'open-iconic-master/font/css/open-iconic-bootstrap.css', media: 'all'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper fadeInDown">
      <% if flash[:error] %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong><%= flash[:error] %></strong> <%= flash[:message] %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
      <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first" style="margin-top:10px;">
          <%= image_tag "fcqLogo2.png", :id=>"icon", :alt=>"FCQ Icon" %>
        </div>

        <%= form_with model: @user do |f| %>
          <%= f.text_field :txtLogin, class: "fadeIn second", placeholder:"Usuario" %>
          <%= f.text_field :txtPassword,  class: :fadeIn, placeholder:"Password", type:"password" %>
          <%= f.submit 'Ingresar', class: 'fadeIn fourth', id:'btnLogin' %>
        <% end %>

        <!-- Remind Passowrd -->
        <div id="formFooter">
          <a class="underlineHover" href="#">Sistema De Asesorias FCQ</a>
        </div>

      </div>
    </div>
  </body>
</html>
