<!DOCTYPE html>
<html>
  <head>
    <title>Asesor&iacute;as FCQ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'open-iconic-master/font/css/open-iconic-bootstrap.css', media: 'all'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
          <%= image_tag "fcqLogo2.png", :id=>"icon", :alt=>"FCQ Icon" %>
        </div>

        <!-- Login Form -->
        <form>
          <input type="text" id="txtLogin" class="fadeIn second" name="login" placeholder="Usuario">
          <input type="password" id="txtPassword" class="fadeIn third" name="pass" placeholder="Password">
          <input type="submit" id="btnLogin" class="fadeIn fourth" value="Ingresar">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
          <a class="underlineHover" href="#">Sistema De Tutorias FCQ</a>
        </div>

      </div>
    </div>
  </body>
</html>
