<p id="notice"><%= notice %></p>

<h1>Lugares</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Ubicaci&oacute;n</th>
      <th>Descripci&oacute;n</th>
      <th colspan="3" style="text-align:center;">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= place.Name %></td>
        <td><%= place.Location %></td>
        <td><%= place.Description %></td>
        <td style="text-align:center;"><%= link_to 'Ver', place %></td>
        <td style="text-align:center;"><%= link_to 'Editar', edit_place_path(place) %></td>
        <td style="text-align:center;"><%= link_to 'Eliminar', place, method: :delete, data: { confirm: 'Seguro que deseas de eliminar este registro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear Lugar Nuevo', new_place_path, class:'btn btn-outline-info' %>

<!--

<a href="#n()" class="btn btn-outline-info">HOLA</a>
<a href="#n()" class="btn btn-primary">HOLA</a>
<a href="#n()" class="btn btn-info">HOLA</a>
<a href="#n()" class="btn btn-success">HOLA</a>
<a href="#n()" class="btn btn-danger">HOLA</a>
<a href="#n()" class="btn btn-warning">HOLA</a>

-->