<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @place.Name %>
</p>

<p>
  <strong>Ubicaci&oacute;n:</strong>
  <%= @place.Location %>
</p>

<p>
  <strong>Descripci&oacute;n:</strong>
  <%= @place.Description %>
</p>

<%= link_to 'Editar', edit_place_path(@place) %> |
<%= link_to 'Volver', places_path %>
