<!DOCTYPE html>
<html>
  <head>
    <title>Asesor&iacute;as FCQ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'open-iconic-master/font/css/open-iconic-bootstrap.css', media: 'all'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="../home/index">Inicio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to 'Maestros', teachers_path, class:'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Alumnos', students_path, class:'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Horarios de Asesorias', schedules_path, class:'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Usuarios', users_path, class:'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Lugares', places_path, class:'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Materias', subjects_path, class:'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Perfiles', profiles_path, class:'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Asesor-Lugar', teacher_places_path, class:'nav-link' %>
        </li>
        
        <li class="nav-item">
          <%= link_to 'Asesor-Materia', teacher_subjects_path, class:'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Asesorias programadas', tutorial_dates_path, class:'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Asesorias grupales', group_meetings_path, class:'nav-link' %>
        </li>
         <li class="nav-item">
          <%= link_to 'Salir', group_meetings_path, class:'nav-link' %>
        </li>
      </ul>
      
    </div>
  </nav>
    <div style="padding:10px;">
        <%= yield %>
    </div>
  </body>
</html>
